@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* NAVBAR GENERAL */


.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 70px;
  background-color: #0a0a0a;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  font-family: 'Bebas Neue', cursive;
}


.navbar-left,
.navbar-right {
  flex: 1;
  display: flex;
  align-items: center;
}

.navbar-center {
  flex: 2;
  display: flex;
  justify-content: center;
  gap: 10rem;
}



/* LOGO */
.logo {
  height: 50px;
  transition: transform 0.3s ease;
}

.logo:hover {
  transform: scale(1.05);
}

/* LINKS */
.nav-link {
  background: linear-gradient(90deg, #ff00cc, #9900ff);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: none;
  font-weight: bold;
  font-size: 30px;
  transition: text-shadow 0.3s;

}

.nav-link:hover {
  text-shadow: 0 0 10px #ff00cc, 0 0 20px #9900ff;
  transform: scale(1.05);
}



/* ICONO DE USUARIO */
.user-icon {
  height: 40px;
  cursor: pointer;
  transition: transform 0.3s;
}

.user-icon:hover {
  transform: scale(1.05);
  filter: drop-shadow(0 0 5px #ff00cc);
}



/* ICONO DE CARRITO */

.cart-icon {
  height: 40px;
  cursor: pointer;
  transition: transform 0.3s;
}

.cart-icon:hover {
  transform: scale(1.05);
  filter: drop-shadow(0 0 5px #ff00cc);
}